<div class="row">
  <div class="col-xs-12">
      <div class="panel panel-defailt">
        <div class="panel-body">
               
        <table class="table">
            <thead>
            <tr>
              <th><a href="?company">COMPANY <span class="caret"></span></a></th>
              <th><a>DISPATCHER <span class="caret"></span></a></th>
              <th><a>DRIVER <span class="caret"></span></a></th>
              <th><a href="?truck">TRUCK <span class="caret"></span></a></th>
              <th><a>TYPE <span class="caret"></span></a></th>
              <th><a>TRAILER <span class="caret"></span></a></th>

            </tr>
            </thead>
           <tbody>
             
           <% @loadboards.each do |loadboard| %>
             <tr>
               <td><%= loadboard.company %></td>
               <td><%= loadboard.dispatcher %></td>
               <td><%= loadboard.driver %></td>
               <td><%= loadboard.truck %></td>
               <td><%= loadboard.load_type %></td>
               <td><%= loadboard.trailer %></td>
             </tr>
           <% end %>
    
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>
<!--Sidebar-->
<div id="menu">
  <ul>
    <li>Home</li>
    <li>Works</li>
    <li>Services</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>

<div id="trigger"> Click Here! </div>
<script>
$("#trigger").click(function() {
  $("#menu").toggleClass("active");
});

$("#trigger").click(function() {
  $("#trigger").toggleClass("active");
});
</script>
<!--Sidebar End-->

<!--Bottom Panel-->
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Add a load
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">

        <%= render '/components/loadboard_form' %>
        

      </div>
    </div>
  </div>
</div>

<script>
  $('#collapseOne').on('show.bs.collapse', function () {    
    $('.panel-heading').animate({
        backgroundColor: "#515151"
    }, 500);   
})

$('#collapseOne').on('hide.bs.collapse', function () {    
    $('.panel-heading').animate({
        backgroundColor: "#00B4FF"
    }, 500);   
})
  
</script>

<!--Bottom Panel End-->