<div class="row" style="padding-top: 25px">
  <div class="col-xs-12">
      <div class="panel panel-defailt">
        <div class="panel-body">
               
        <table class="table">
            <thead>
            <tr>
              <th>COMPANY</th>
              <th>DISPATCHER</th>
              <th>DRIVER</th>
              <th>TRUCK</th>
              <th>TYPE</th>
              <th>TRAILER</th>

            </tr>
            </thead>
           <tbody>
          <% @loadboards.each do |loadboard| %>
            <tr>
              <td><%= loadboard.company %></td>
              <td><%= loadboard.dispatcher %></td>
              <td><%= loadboard.driver %></td>
              <td><%= loadboard.truck %></td>
              <td><%= loadboard.load_type %></td>
              <td><%= loadboard.trailer %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Add a load
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, adipisci, quibusdam, minima ratione voluptas quidem porro sint nobis odio cupiditate alias nisi. Magnam et fugiat labore eum at adipisci ex.
      </div>
    </div>
  </div>
</div>

<script>
  $('#collapseOne').on('show.bs.collapse', function () {    
    $('.panel-heading').animate({
        backgroundColor: "#515151"
    }, 500);   
})

$('#collapseOne').on('hide.bs.collapse', function () {    
    $('.panel-heading').animate({
        backgroundColor: "#00B4FF"
    }, 500);   
})
  
</script>