<!DOCTYPE html>
<html>
  <head>
    <title>Tms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <%= render '/layouts/nav' %>
    <%= yield %>
  </body>
</html>
